

.container-ep {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.grid-container-ep {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.left-row-edit,
.left-row-ep {
  padding-left: 20px;
}

.left-row-edit {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
}

.left-row-ep {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
}

.profile-sidebar-edit {
  width: 250px;
  background-color: #d9d9d9;
  margin-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.profile-edit {
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 570px;
}

#description,
#name,
#category,
#state,
#image,
#price {
  display: flex;
  justify-items: left;
  background-color: #ffffff;
  width: 100%;
  max-width: 530px;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-btn {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #d9d9d9;
}

.edit-button {
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 5px;
  cursor: pointer;
 padding: 35px;
}

.Welcome-edit {
  font-family: "kaushan script", sans-serif;
  font-size: 35px;
  text-align: center;
}

@media (max-width: 768px) {
  .grid-container-ep {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .profile-edit {
    width: 100%;
  }

  #description,
  #name,
  #category,
  #state,
  #image,
  #price {
    width: 100%;
  }

  .edit-btn {
    gap: 1rem;
  }
}