body {
  font-family: "Karla", serif;
  height: 100%;
}

.container-ep {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  flex-grow: 1;
  min-height: 100vh;
}

.grid-container-ep {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1fr para la columna izquierda, 3fr para la columna central */
  gap: 20px; /* Espacio entre columnas */
}

.profile-sidebar-ep {
  width: 250px;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-edit {
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 570px;
}

#description,
#name,
#category,
#state,
#image {
  display: flex;
  justify-items: left;
  background-color: #ffffff;
  width: 530px;
  margin: 0px;
}

#price {
  background-color: #ffffff;
  width: 530px;
  margin: 0px;
}

.left-row-one {
  justify-content: center;
  justify-items: center;
  padding: 20px;
  margin-top: 90px;
}

.left-row-two {
  padding: 20px;
}

.edit-btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.edit-button {
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 5px;
  cursor: pointer;
  margin: 15px;
}
