.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;  /* Esto mantiene el footer fijo en la parte inferior */
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;  /* Asegura que el footer se quede sobre otros contenidos */
}

footer {
  padding-top: 10px;
}
