
.container-form {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  flex-grow: 1;
  min-height: 100vh;
}

.grid-container-formulario {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.left-row-2-form {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
}

.left-row-1-form {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
}

.left-row-1-form,
.left-row-2-form {
  padding-left: 20px;
}

.profile-sidebar-formulario {
  width: 250px;
  background-color: #d9d9d9;
  margin-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.profile-form {
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 570px;
}

.Welcome-form {
  font-family: "kaushan script", sans-serif;
  font-size: 35px;
  text-align: center;
}

.upload-btn-form {
  border-radius: 10px;
  font-weight: bolder;
  padding: 5px 5px;
  cursor: pointer;
  padding:  35px;
}

.upload-form {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #d9d9d9;
}
