.container-mp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.publication-content-mp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mp-inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: lightgray;
  width: 500px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mp-inf h6 {
  font-size: 18px;
  margin: 5px;
}


.fontawesome {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.prodname{
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
 }

.price{
  display:flex;
  justify-content: flex-start;
  width: 20px;
}

@media (max-width: 768px) {
  .container-mp {
    width: 80%;
  }

  .mp-inf {
    width: 90%;
  }
}
