.container-product {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img inf"
    "desc desc"
    "comm comm";
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  align-items: center;
  margin: 20px auto;
  margin-bottom: 70px;
  flex: 1;
}

.pd-img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pd-img img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pd-inf {
  grid-area: inf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pd-desc {
  grid-area: desc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.pd-comm {
  grid-area: comm;
  border-radius: 5px;
  width: 100%;
}

.comentario {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments {
  border: 1px solid rgb(41, 41, 44);
  border-radius: 5px;
  color: black;
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
}

@media (max-width: 768px) {
  .container-product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "inf"
      "desc"
      "comm";
  }
  .pd-img img {
    max-width: 100%;
    height: auto;
  }
}
