body {
  font-family: "Karla", serif;
  height: 100%;
}

/** Tarjeta Login-Register**/

/** Imagen Usuario**/
.photo,
img {
  border-radius: 100px;
  height: 180px;
  margin: auto;
}

.container-rg.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#checkbox {
  background-color: #d9d9d9;
  margin-left: 10px;
  height: 18px;
  width: 18px;
  display: inline-flex;
  justify-content: start;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 5px;
}

#name,
#lastname,
#nickname,
#confirmpassword,
#email,
#password {
  background-color: #d9d9d9;
  margin: 0px 10px 0px 10px;
  width: 400px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 500px;
  gap: 10px;
  margin: 40px 0px 10px 0px;
  padding: 20px 0px 20px 0px;
  background-color: #f7f5f5;
  border-radius: 10px;
}

#button {
  background-color: #000000;
  border: 0px;
  margin: 8px 15px 5px 15px;
}

input:invalid {
  border-color: #d9d9d9;
}

input:valid {
  border-color: #d9d9d9;
}

@media (max-width: 768px) {
  .container-rg {
    width: 100%;
  }
  .tarjeta {
    width: 100%;
  }
  #name,
  #lastname,
  #email,
  #nickname,
  #password,
  #confirmpassword {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
